<template name="main">
    <div>{{> header}}</div>
    <div>{{> messages}}</div>
    <div>{{> yield}}</div>
    <div>{{> footer}}</div>
</template>

<template name="home">
    This is a homepage
    {{> bookList}}
</template>

<template name="header">
    This is a header with links
    <span><a href="{{pathFor route='home'}}">Home</a></span>
    {{#if currentUser}}
        <span><a href="#" class="logout">Logout</a></span>
    {{else}}
    <span><a href="{{pathFor route='login'}}">Login</a></span>
    <span><a href="{{pathFor route='register'}}">Register</a></span>
    {{/if}}
    {{#if currentUser}}
        <span><a href="{{pathFor route='addBook'}}">Add new book</a></span>
    {{/if}}
    {{#if isAdmin currentUser}}
        <span><a href="{{pathFor route='admin'}}">Administration</a></span>
    {{/if}}
</template>

<template name="footer">
    This is a footer
</template>

<template name="login">
    <h2>Login</h2>
    <form class="login">
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="Login"></p>
    </form>
</template>

<template name="register">
    <h2>Register</h2>
    <form class="register">
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="Register"></p>
    </form>
</template>

<template name="bookList">
{{#each book}}
    {{> bookItem}}
{{/each}}
</template>

<template name="bookItem">
    <ul>
        <li><a href="{{pathFor route='bookPage'}}">{{name}}</a></li>
        <li>{{description}}</li>
        <li><img src="{{path}}" /></li>
        <li>Is this book available? {{available}}</li>
    </ul>
</template>

<template name="addBookItem">
    <form>
        <input type="text" name="bookName" placeholder="Insert book name.." /><br>
        <input type="text" name="bookDescription" placeholder="Insert book description.." /><br>
        <input type="file" name="bookImage" accept="image/*"><br>
        <input type="checkbox" name="bookAvailable" value="1" />Available?<br>
        <input type="submit" name="submitBook" value="Add new book" /><br>
    </form>
</template>

<template name="messages">
    <ul id="messages">
        {{#each messages}}
            MSG: {{> message}}
        {{/each}}
    </ul>
</template>

<template name="message">
    <li>
        <span class="{{isSeen}}">{{body}}</span>
        <button id="delete_message" value="Delete">Delete</button>
    </li>
</template>

<template name="bookPage">
This is a book page:
    <ul>
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li><img src="{{path}}" /></li>
    </ul>
</template>

<template name="admin">
    This is a administration
   <span><a href="{{pathFor route='adminBooks'}}">Books</a></span>
   <span><a href="{{pathFor route='adminUsers'}}">Users</a></span>
</template>

<template name="admin_books">
    {{> adminBookList}}
</template>

<template name="admin_users">
    {{> adminUserList}}
</template>

<template name="adminUserList">
    {{#each user}}
        {{> adminUserItem}}
    {{/each}}
</template>

<template name="adminUserItem">
    Email address:<br>
        {{#each emails}}
            {{address}}
        {{/each}}
        <br>
        Is admin: <br>
        <form>
            <input class="toggleAdmin" type="checkbox" value="1" {{isAdmin}}>
        </form>
        Toggle admin
        <br><br>
</template>

<template name="adminBookList">
    {{#each book}}
        {{> adminBookItem}}
    {{/each}}
</template>

<template name="loading">
    <h1>loading</h1>
</template>

<template name="adminBookItem">
    <ul>
    <form id="">
         <input type="text" name="bookName" value="{{name}}" /><br>
        <input type="text" name="bookDescription" value="{{description}}" /><br>
        <li><img src="{{path}}" /></li>
        Change image
        <input type="file" name="bookImage" accept="image/*"><br>
        <input type="checkbox" name="bookAvailable" value="1" {{checked}}/>Available?<br>
        <input type="submit" name="submitBook" value="Update Book" /><br>
    </form>
    </ul>
</template>